.debugPanel {
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  background: var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-dark-6);
  font-family: var(--mantine-font-family-monospace);
}

.header {
  user-select: none;
  color: var(--mantine-color-gray-4);
}

.header:hover {
  color: var(--mantine-color-gray-2);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.field {
  padding: var(--mantine-spacing-xs);
  background: var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-xs);
}

.fieldLabel {
  color: var(--mantine-color-cyan-4);
}

.fieldHint {
  font-style: italic;
  font-size: var(--mantine-font-size-xs);
}

.fieldValue {
  margin-top: var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-xs);
  white-space: pre-wrap;
  word-break: break-word;
}
